@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

:root {
    --dark: #121212;
    --half-dark: #373737;
    --least-dark: #5b5b5b;
    --grey: #ddd;
    --purple: #7600e6;
    --light-purple: #901aff;
    --dark-purple: #420080;
    --red: #ff4d4d;
    --redder: #ff0000;
    --red-light: #ff5f5f;
    --blue: #4173ad;

    --background-googleish-yellow: #FBBC05;
    --background-googleish-blue: #4285F4;
    --background-googleish-green: #34A853;
    --background-googleish-red: #EA4335;
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Fira Code', monospace;
}

body {
    background-color: #121212;
    color: #ffffff;
}

#info-carrousel {
    height: 100vh;
}

.info-carrousel-item {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.info-carrousel-item[data-status="after"] {
    transform: translateX(50%) scale(0);
}

.right-nav-btn {
    position: absolute;
    right: 5%;
    top: 50%;
}

.left-nav-btn {
    position: absolute;
    left: 5%;
    top: 50%;
}

#landing-page>h1 {
    font-size: 50px;
    margin: 100px 0px 50px 0px;
    font-weight: 500;
}

#landing-page>h2 {
    font-size: 75px;
    margin: 50px 0px 100px 0px;

}

#description {
    margin: 20px;
    font-weight: 400;
    font-size: 20px;
}


#academic {
    box-sizing: border-box;
}

#academic>h1 {
    font-size: 3rem;
    margin: 3.5rem 0;
}

#academic-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.75rem;
    box-sizing: border-box;
    width: 75%;
    height: 100%;
}

.academic-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #FFF;
    border-radius: 5px;
    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.academic-card>h2 {
    box-sizing: border-box;
    padding: 1rem 0;
    font-size: 1.75rem;
    font-style: bold;
    background-color: #121212;
}

.academic-card-description {
    position: relative;
    font-size: 1rem;
    background-color: #121212;
    padding: 1rem;
}

.academic-card-description>h3 {
    font-weight: 500;
    text-align: left;
    margin: 0 0 1rem 0;
}

.academic-card-description>p {
    text-align: justify;
    font-weight: 400;
    font-size: 1rem;
}

#academic-card-1 {
    background-image: url(images/academic/IFTM.png);
}

#academic-card-2 {
    background-image: url(images/academic/ufu.png);
}

#professional {
    box-sizing: border-box;
}

#professional-block-container {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0;
    width: 75%;
}

#professional>h1 {
    font-size: 3rem;
    margin: 3.5rem 0;
}

.professional-block {
    /* border: 1px solid #FFF; */
    height: 50vh;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.professional-block-text-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    padding: 1rem;

}

#professional-block-1 {
    background: url(images/experience/SunSaleSystem.png);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#professional-block-2 {
    background: url(images/experience/paratudo-bebidas.jpg);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#professional-block-3 {
    background: url(https://images.unsplash.com/photo-1570126618953-d437176e8c79?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#professional-block-4 {
    background: url(https://images.unsplash.com/photo-1554232456-8727aae0cfa4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80);

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}