@import url(https://fonts.googleapis.com/css?family=Roboto);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

header {
    background: white;
    text-align: center;
    padding: 5px;
}

body {
    background-color: #1d1d1d;

}

footer {
    background: white;
    text-align: center;
    padding: 5px;
    margin-top: 50px;
    font-family: Roboto;
}

.banner-image {
    height: 250px;
    width: 100%;
    object-fit: cover;
    float: center;
    margin-top: 0px;
    padding-top: -5px;
    
}

.grid-generico{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 100px;
}

.grid-generico>p{
    padding: 40px;
}

.info {
    margin-top: 25px;
    padding: 5px;
    margin-bottom: 25px;
    color: white;
    padding-left: 50px;
    padding-right: 50px;
}

.info>h1 {
    margin-bottom: 30px;
    text-align: center;
}

.infop {
    margin-bottom: 30px;
}

.infop>p{
    text-align: center;
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 80px;
}

.infop>h1{
    margin-bottom: 60px;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
}

.infop>h2{
    text-align: center;
}

.infop>p{
    font-size: 25px;
}

.infop>ul{
    display: inline-block;
    text-align: left;
    margin-top: 20px;
    margin-bottom: 60px;
}

.infop>ul>li{
    margin: 20px;
    text-align:justify;
}

.projetos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.projeto>img {
    width: 95%;
    height: 95%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}