@import url('http://fonts.cdnfonts.com/css/vcr-osd-mono');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

    /*placeholder fonts repository*/
    /*font-family: 'Roboto Mono', monospace;*/
    /*font-family: 'VCR OSD Mono', sans-serif;*/

*{
    font-family: 'VCR OSD Mono', sans-serif;
    color: white;
    font-style: normal;
    background-color: #12181b;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    margin: 20px 50px;
}

a{
    text-decoration: none;
}

.top-nav-bar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 0px;
}

.top-nav-bar ul, li{
    list-style-type: none;
    display: inline-block;
    font-size: 20px;
    padding: 0px 20px;
}

#logo{
    font-size: 30px;
    cursor: pointer;
    margin-right: auto;
    padding-left: 30px;
}